body {
    background: #f8f8f8;
    font-family: arial;
    font-size: 15px;
    line-height: 28px;
}

#content {
    width: 700px;
    /*margin: 0 auto;*/
    margin-top: 20px;
    margin-left: 215px;
}

.box-title {
    font-size: 1em;
    margin-bottom: 5px;
}

.box {
    color: #212121;
    padding: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 175px;
    background: #ffffff;
    margin-bottom: 10px;
    border: 2px double #d7d7d7;
}


.box:hover  {
    background: rgb(215, 215, 215);

}



/*-------Nav------*/
#navCon {
    padding-right: 15px;
}

#nav {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    position: fixed;
}

#nav a {

    color: #595959;
    font-size: 24px;
    font-weight: 300;
    line-height: 1em;
    text-transform: uppercase;

}

/*------modal-------*/
.modal-body {
    padding-left: 30px;
}

/*-----media queries-------*/
@media screen and (max-width: 800px) {
#content {
        width: 400px;
    }
}